


#bienlai{
	padding:80px 0 40px 0px;
}
.btn-color{
	background-color:#ab5c27;
	color:white;
}
#bl-tittle{
	color:#ab5c27;
	font-weight:bold;
}
.ds-bl{
	margin-top:50px;
}
.tittle-table{
	color:#ab5c27;
}
.ds-bl img {
	width:20px;
}
