


#hoadon{
	padding:80px 0 40px 0px;
}
.btn-color{
	background-color:#ab5c27;
	color:white;
}
#hd-tittle{
	color:#ab5c27;
	font-weight:bold;
}
.ds-hd{
	margin-top:50px;
}
.tittle-table{
	color:#ab5c27;
}