
#menu-du{
	text-align:center;
	padding:30px;
	font-size:18px;
}
#menu-du ul li{
	list-style:none;
	display:inline-table;
	padding:10px;
	/* margin: 10px; */
	width: 20%;
}
#menu-du ul li a{
	color:#ab5c27;
	font-weight:bold;

}
#menu-du ul li a:hover{
	color:black;
	text-decoration:none;
}
.item-du{
	margin-bottom:50px;
}
.img-du{
	
position: relative;
padding-bottom:20px;
}
.img-du img{
	height:340px;
	0width: 270px;
}
.logo-oder{

position: absolute;

/* right: 0px; */

right: 10%;

top: 72%;
}
.logo-oder img{
	width:35px;
	padding:5px;
	display:none;
	background-color:#ab5c27;
	z-index:10;
	position:relative;
}
.dl-item:hover .logo-oder img{
	display:block;
}
.dl-item:hover .img-du{
	border-bottom:1.5px #ab5c27 solid;
}
.dl-item:hover .img-du img{
	opacity:0.7;
	border-radius:15%;
	-moz-border-radius:15%;
	-webkit-border-radius:15%;
}
.title-du{
	padding:10px;
	float:left;
	font-weight:bold;
	color:#ab5c27;
}
.price{
	padding:10px;
	float:right;
	color:#371904;
}
#showThem{
	text-align:center;
	padding-bottom:20px;
	color:#ab5c27 !important;
	font-size:15px;
	text-decoration:none;
	cursor:pointer;
}
#showThem {
	
}